ExtraPlanets-1.12.2-0.7.2.jar filter=lfs diff=lfs merge=lfs -text
InventoryTweaks-1.63.jar filter=lfs diff=lfs merge=lfs -text
Mantle-1.12-1.3.3.55.jar filter=lfs diff=lfs merge=lfs -text
MicdoodleCore-1.12.2-4.0.2.280.jar filter=lfs diff=lfs merge=lfs -text
ThermalInnovation-1.12.2-0.3.6.1-universal.jar filter=lfs diff=lfs merge=lfs -text
[1.12.2]DamageIndicatorsMod-3.5.1.jar filter=lfs diff=lfs merge=lfs -text
CoFHCore-1.12.2-4.6.6.1-universal.jar filter=lfs diff=lfs merge=lfs -text
CodeChickenLib-1.12.2-3.2.3.358-universal.jar filter=lfs diff=lfs merge=lfs -text
ironchest-1.12.2-7.0.72.847.jar filter=lfs diff=lfs merge=lfs -text
ThermalExpansion-1.12.2-5.5.7.1-universal.jar filter=lfs diff=lfs merge=lfs -text
backpack-3.0.2-1.12.2.jar filter=lfs diff=lfs merge=lfs -text
BasicNetherOres-1.12.2-1.0.5.0.jar filter=lfs diff=lfs merge=lfs -text
ThermalDynamics-1.12.2-2.5.6.1-universal.jar filter=lfs diff=lfs merge=lfs -text
GalacticraftCore-1.12.2-4.0.2.280.jar filter=lfs diff=lfs merge=lfs -text
jei_1.12.2-4.16.1.302.jar filter=lfs diff=lfs merge=lfs -text
CoFHWorld-1.12.2-1.4.0.1-universal.jar filter=lfs diff=lfs merge=lfs -text
Galacticraft-Planets-1.12.2-4.0.2.280.jar filter=lfs diff=lfs merge=lfs -text
RedstoneFlux-1.12-2.1.1.1-universal.jar filter=lfs diff=lfs merge=lfs -text
TConstruct-1.12.2-2.13.0.183.jar filter=lfs diff=lfs merge=lfs -text
ThermalCultivation-1.12.2-0.3.6.1-universal.jar filter=lfs diff=lfs merge=lfs -text
ThermalFoundation-1.12.2-2.6.7.1-universal.jar filter=lfs diff=lfs merge=lfs -text
conarm-1.12.2-1.2.5.10.jar filter=lfs diff=lfs merge=lfs -text
MJRLegendsLib-1.12.2-1.2.0.jar filter=lfs diff=lfs merge=lfs -text
MapWriter-1.12.2-2.8.2.jar filter=lfs diff=lfs merge=lfs -text
